swiper-pagination::after{
    color: black;
}
.con {
    margin-left: 35%;
}
.shto {
    width: 660px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.6px;
    color: #FFFFFF;
}

.top {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    letter-spacing: 0.6px;
    color: #FFFFFF;
}

@media(max-width:1011px){
    .shto {
        width: 100%;
        font-size: 214%;

    }

    .top {
        font-size: 100%;
    }
    .con {
        margin-left: 10%;
        margin-top: 11%;
    }
}

